# Unity generated (always ignore)
/Library/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/UserSettings/
/[Mm]emoryCaptures/

# Rider / VS
.idea/
.vs/

# Only track C# scripts (for now): ignore entire Assets folder except Scripts
/Assets/*
!/Assets/Scripts/
!/Assets/Scripts/**
